<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Prodiga</title>
   
    <script src="Script.js" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="box">
         <h1> Cadastro</h1>
    <form action="/cadastrar" method="post" th:object="${Cliente}"></form>
    <div class="row g-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="nome" aria-label="nome" th:field="*{Nome}">
          <p class="tex-danger" th:if="${#fields.hasErros('nome')}" th:erros="*{nome}"></p>
        </div>
        <div class="col">
           <input type="email" class="form-control" placeholder="email" aria-label="email" th:field="*{email}">
           <p class="tex-danger" th:if="${#fields.hasErros('email')}" th:erros="*{email}"></p>
          </div>
        <div class="col">
          <input type="tel" class="form-control" placeholder="telefone" aria-label="telefone" th:field="*{telefone}">
          <p class="tex-danger" th:if="${#fields.hasErros('telefone')}" th:erros="*{telefone}"></p>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="cpf" aria-label="cpf" th:field="*{cpf}">
            <p class="tex-danger" th:if="${#fields.hasErros('cpf')}" th:erros="*{cpf}"></p>
          </div>
        <div>
          <input title="text" class="form-control" placeholder="endereço" aria-label="endereco" th:field="*{endereco}">
          <p class="tex-danger" th:if="${#fields.hasErros('endereco')}" th:erros="*{endereco}"></p>
        </div>
        <input type="button" value="cadastar" placeholder="submit">
      </div>
      <div th:if="${mensagem}" class="alert alert-succes mt-3" role="alert">
        <p th:text="${mensagem}"></p>
      </div>

      </div:>
     
    </form>
    
</body>
</html>